<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>openSCADA HDS Settings</comment>
<entry key="version">1</entry>
<entry key="count">90</entry>
<entry key="unit">SECONDS</entry>
<entry key="time">1</entry>
</properties>
