<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.pde.ui.targetProvisioners">
      <provisioner
            class="com.inavare.maven.platform.LocalMavenRepostory"
            icon="icons/new_fastview.gif"
            id="com.inavare.maven.platform.provisioner1"
            name="Local Maven Repository">
         <description>
            Reference OSGi Bundles in a local Maven 2 Repository
         </description>
      </provisioner>
   </extension>

</plugin>
